@model IList<UserCred>
<div class="clearfix">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalAddCredentials" onclick="loadWebsiteList()">
        <span data-toggle="tooltip" data-placement="top" title="Tooltip on top"></span>
        <i class="bi bi-alarm-fill"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Password
    </button>
</div>
@for (var index = 0; index < Model.Count; index++)
{
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="@string.Format("heading{0}",index)">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="@string.Format("#collapse{0}",index)" aria-expanded="false" aria-controls="@string.Format("collapse{0}",index)">
                        @Model[index].WebSiteName
                    </button>
                </h2>
            </div>
            <div id="@string.Format("collapse{0}",index)" class="collapse" aria-labelledby="@string.Format("heading{0}",@index)" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            Username : @Model[index].UserName
                        </div>
                        <div class="col">
                            Password : @Model[index].Password
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

 @await Html.PartialAsync("_Cred")

@section Scripts
{
    <script type="text/javascript">

        function loadWebsiteList() {
            $.getJSON("/Dashboard/GetWebsites").done((data) => {
                let totalLen = data.length;
                if (totalLen > 0) {
                    for (let i = 0; i < totalLen; i++) {
                        var element = document.createElement("option");
                        element.value = data[i]["name"]
                        element.text = data[i]["name"]
                        document.getElementById("websites").appendChild(element);
                    }
                }
                else
                    Console.log("Not able to load data")
            })
        }
    </script>
}